filtering_step1.recode.vcf
filtering_step2a.recode.vcf
filtering_step2b.recode.vcf
filtering_step3AB.recode.vcf
filtering_step3ABQDPTH.recode.vcf
filtering_step3ABQDPTHQUAL.recode.vcf
FIL_6.recode.vcf
filtering_step4a.recode.vcf
DEPTH.lowQloci
FIL_6.het
FIL_6.idepth
FIL_6.imiss
FIL_6.ldepth.mean
FIL_6.lmiss
FIL_6.lqual
filtering_step3AB.AB
filtering_step3ABQDPTH.DEPTH
filtering_step3ABQDPTH.QUAL
filtering_step3ABQDPTHQUAL.ldepth.mean
filtering_step4a.imiss
LQ_Ind_FIL_6a
filtering_step4b.recode.vcf
LQ_Ind_FIL_6b
SNPs.vcf
filtering_step5a.imiss
filtering_step5a.recode.vcf
filtering_step5b.recode.vcf
